body {
    font-family: sans-serif;
    padding:20px;
    background-color:rgb(176, 183, 255);
}

.btn-space {
    margin: 0px 5px;
}

#lager {
    background-color: #ec89ee;
    padding: 4px;
    text-align: center;
    border: 1px solid blue;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#lager.markiert {
    background-color: #ABCDEF;
}
#lager:hover {
    background-color: #BBB;
}
#lager-wrap {
    margin: 8px;
}
.free {
    text-align:center;
    position: absolute;
}

.free:hover {
    background-color: #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tisch {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align:center;
    background-color: #EEE;
    border: solid #e52fd4;
    position: absolute;
}

.markiert {
    background-color: #ABCDEF;
}

.tisch:hover {
    background-color: #BBB;
}

.plan {
    background-color: #99ffce;
    position: relative;
}

select {
    background-color: #99ffce;
}

.label {
    background-color: #ABCDEF;
    color: black;
    padding: 5px 20px;
    height: 23px;
}
.label:hover {
    background-color: #8fbc8f;
}
#links {
    transform: translateX(50%) rotate(-90deg) translateY(-50%);
}
#rechts {
    transform: translateX(-50%) rotate(90deg) translateY(-50%);
}

div#start-stop {
    margin-left: 30px;
    margin-bottom: 20px;
}

.plan-middle-row {
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
}
.plan-left {
    width: 30px;
    align-items: flex-end;
}
.plan-container {
    display: flex;
    align-content: space-around;
}
 button.transparent{
    background: rgba(255, 255, 255, 0.2);
}
 button.transparent:hover {
    background: rgba(255, 255, 255, 0.7);
}

.plan-column {
    flex-direction: column;
    justify-content: space-between;
}
.plan-row {
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px;
}
.plan-right {
    width: 30px;
    align-items: flex-start;
}
div.plan-right-buttons {
    margin-left: 50px;
    width: 50px;
    align-items: flex-start;
}
.plan-right-buttons button {
    width: 100%;
}
.plan-top {
    height: 30px;
    align-items: flex-end;
}
.plan-center {
    text-align: center;
}
.plan-bottom {
    height: 30px;
    align-items: flex-start;
}
#start-stop input[type="text"] {
    font-size: 200%;
    width: 7em;
}